@import '../../styles/variables.scss';

.get_request {
    margin-bottom: 140px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 50px;

    h1 {
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        color: $base-text-color;
    }
}

.team_container {
    display: flex;
    min-height: 485px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    gap: 29px;
}
